@import '@repo/ui-common/styles.css';

@import 'tailwindcss';

@theme {
  /* fonts */
  --default-font-family: var(--font-pretendard);

  /* colors */
  --color-primary: var(--color-gray-800);
  --color-secondary: var(--color-gray-500);
  --color-error: var(--color-red-400);

  /* breakpoints */
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;
}

@layer base {
  body {
    @apply bg-gray-50;
  }
  button:not([disabled]) {
    @apply cursor-pointer;
  }
  :focus-visible {
    @apply outline-none ring-2 ring-offset-2 ring-gray-300;
  }
}
