@import 'tailwindcss';

@font-face {
  src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
  font-family: 'Pretendard';
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src: url('/fonts/Pretendard-SemiBold.woff2') format('woff2');
  font-family: 'Pretendard';
  font-weight: 600;
  font-style: normal;
}

@font-face {
  src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
  font-family: 'Pretendard';
  font-weight: 700;
  font-style: normal;
}

@theme {
  /* fonts */
  --font-pretendard: 'Pretendard', sans-serif;
  --default-font-family: var(--font-pretendard);

  /* colors */
  --color-primary: var(--color-gray-800);
  --color-secondary: var(--color-gray-500);
}

@layer base {
  body {
    @apply bg-gray-50;
  }
  button:not([disabled]) {
    @apply cursor-pointer;
  }
  :focus-visible {
    @apply outline-none ring-2 ring-offset-2 ring-gray-300;
  }
}

@layer utilities {
  .animateSelectShow {
    animation: selectShow 200ms ease-out forwards;
  }
}

@keyframes selectShow {
  from {
    opacity: 0;
    transform: scale(0.96) translateY(-4px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
