@import 'tailwindcss';

@font-face {
  src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
  font-family: 'Pretendard';
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src: url('/fonts/Pretendard-SemiBold.woff2') format('woff2');
  font-family: 'Pretendard';
  font-weight: 600;
  font-style: normal;
}

@font-face {
  src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
  font-family: 'Pretendard';
  font-weight: 700;
  font-style: normal;
}

@theme {
  /* fonts */
  --font-pretendard: 'Pretendard', sans-serif;
  --default-font-family: var(--font-pretendard);
}

@layer base {
  body {
    @apply bg-gray-50;
  }
}

@keyframes animate-in {
  from {
    opacity: 0;
    transform: scale(0.96) translateY(-4px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes beep {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}

@layer utilities {
  .animate-in {
    animation: animate-in 200ms ease-out forwards;
  }

  .animate-beep {
    animation: beep 2s ease-in-out infinite;
  }
}
