@import 'tailwindcss';

@font-face {
  src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
  font-family: 'Pretendard';
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src: url('/fonts/Pretendard-SemiBold.woff2') format('woff2');
  font-family: 'Pretendard';
  font-weight: 600;
  font-style: normal;
}

@font-face {
  src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
  font-family: 'Pretendard';
  font-weight: 700;
  font-style: normal;
}

@theme {
  /* fonts */
  --font-pretendard: 'Pretendard', sans-serif;
  --default-font-family: var(--font-pretendard);

  /* colors */
  --color-error: var(--color-red-400);
}

@layer base {
  body {
    @apply bg-gray-50;
  }
  button:not([disabled]) {
    @apply cursor-pointer;
  }
  :focus-visible {
    @apply outline-none ring-2 ring-offset-2 ring-gray-300;
  }
}

@layer components {
  .skeleton {
    @apply inline-block w-full rounded-md bg-[linear-gradient(100deg,var(--color-gray-100)_40%,var(--color-gray-50)_50%,var(--color-gray-100)_60%)];
    background-size: 200% 100%;
    animation: shimmer 2s infinite linear;
  }
}

@layer utilities {
  .animate-in {
    animation: animateIn 200ms ease-out forwards;
  }

  .animate-beep {
    animation: beep 2s ease-in-out infinite;
  }
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: scale(0.96) translateY(-4px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes beep {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes toastIn {
  from {
    opacity: 0;
    transform: translateX(calc(20px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes toastOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(calc(20px));
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
