@font-face {
  src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
  font-family: 'Pretendard';
  font-weight: 400;
}

@font-face {
  src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
  font-family: 'Pretendard';
  font-weight: 500;
}

@font-face {
  src: url('/fonts/Pretendard-SemiBold.woff2') format('woff2');
  font-family: 'Pretendard';
  font-weight: 600;
}

@font-face {
  src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
  font-family: 'Pretendard';
  font-weight: 700;
}
