@import 'tailwindcss';

@import './fonts.css';

@theme {
  --font-pretendard:
    'Pretendard', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --color-error: var(--color-red-400);
}

@layer base {
  button:not([disabled]) {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .focus-visible-ring {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-1 focus-visible:ring-gray-300;
  }
}
